/** Mixins **/

@mixin threeCol($rowGap: $gap, $colGap: $gap) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @if $rowGap {
    row-gap: $rowGap;
  }
  @if $colGap {
    column-gap: $colGap;
  }
}

@mixin centered-content {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin spaced-content {
  justify-self: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
