/** Cards **/
.card__photographer {
  @include centered-content;
  .card__header {
    @include centered-content;
    text-decoration: none;
    .portrait {
      border-radius: $rounded;
      object-fit: cover;
      object-position: center;
      height: 200px;
      width: 200px;
    }
    .name {
      color: $primary-text;
      font-weight: 400;
      font-size: em(34);
      padding: 0;
      margin: 0;
    }
  }
  .card__body {
    @include centered-content;
    text-align: center;
    .location,
    .slogan,
    .quote {
      margin: 0;
      padding: 0;
    }
    .location {
      font-weight: 400;
      font-size: em(13);
      color: $red-text;
    }
    .slogan {
      font-weight: 400;
      font-size: em(10);
      color: $darkest;
    }
    .quote {
      font-weight: 400;
      font-size: em(9);
      color: $other-grey;
    }
  }
}

// Gen. Media Card
.media-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__header {
    display: block;
    height: 500px;
    width: 100%;
  }
  &__footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .title {
      font-weight: 400;
      color: $red-text;
      font-size: em(24);
      margin: 10px 0 0 0;
    }
    .likes {
      color: $darkest;
      font-size: em(16);
      font-weight: 400;
      display: flex;
      gap: 10px;
      .like-button {
        background: none;
        border: none;
        .heart-icon {
          fill: $lightest;
          stroke: $red-text;
          stroke-width: 2px;
          width: 19px;
          height: 19px;
          cursor: pointer;
          padding-top: 2px;
        }
        &.liked {
          .heart-icon {
            fill: $red-text;
          }
        }
      }
    }
  }
}

// Image Card
.image-card {
  .image-card__link {
    display: block;
    width: 100%;
    height: 100%;
  }
  .image {
    border-radius: $border-radius;
    object-fit: cover;
    object-position: top center;
    width: 100%;
    height: 100%;
  }
}

// Image Card
.video-card {
  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
