/** buttons **/

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: $lightest;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: $red-text;
  border-radius: $border-radius;
  cursor: pointer;
}
