/**
*
* Variables
*
**/

/** Brand colors **/

$primary-bckg: #901c1c;
$primary-text: #d3573c;

$secondary: #d3573c;
$tertiary: #db8876;

$grey-text: #525252;
$other-grey: #757575;
$grey-bckg: #fafafa;

$red-text: #901c1c;

$darkest: #000000;
$lightest: #ffffff;

$label-color: #312e2e;

/** Utils **/
$border-radius: 5px;
$rounded: 100%;

$gap: 70px;
